.outer-typewriter {
  padding-top: 1em;
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: 2em;
  margin-bottom: 1em;
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: auto auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  font-family: monospace;
  width: 70vw;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

#btn-container {
  width: 28vw;
  height: 7vh;
  padding-left: 5%;
}

#spl_button {
  --borderWidth: 3;
  --boxShadowDepth: 8;
  --buttonColor: #1b024a;
  --fontSize: 1;
  --horizontalPadding: 8;
  --verticalPadding: 8;
  background: transparent;
  border: calc(var(--borderWidth) * 1px) solid var(--buttonColor);
  box-shadow: calc(var(--boxShadowDepth) * 1px)
    calc(var(--boxShadowDepth) * 1px) 0 #888;
  color: var(--buttonColor);
  cursor: pointer;
  font-size: calc(var(--fontSize) * 1rem);
  font-weight: bold;
  outline: transparent;
  padding: calc(var(--verticalPadding) * 1px)
    calc(var(--horizontalPadding) * 1px);
  position: relative;
  transition: box-shadow 0.15s ease;
  margin-right: 0.5em;
  margin-left: 0.5em;
  border-radius: 10px;
  height: 80%;
  width: 44%;
}
#spl_button:hover {
  box-shadow: calc(var(--boxShadowDepth) / 2 * 1px)
    calc(var(--boxShadowDepth) / 2 * 1px) 0 #888;
  border-radius: 10px;
}
#spl_button:active {
  box-shadow: 0 0 0 #888;
}
#spl_button span {
  -webkit-clip-path: var(--clip);
  bottom: calc(var(--borderWidth) * -1px);
  clip-path: var(--clip);
  left: calc(var(--borderWidth) * -1px);
  position: absolute;
  right: calc(var(--borderWidth) * -1px);
  top: calc(var(--borderWidth) * -1px);
  z-index: 1;
  border-radius: 10px;
}
#spl_button span:nth-of-type(1):hover,
#spl_button span:nth-of-type(2):hover,
#spl_button span:nth-of-type(3):hover,
#spl_button span:nth-of-type(4):hover {
  --clip: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  z-index: 2;
}
#spl_button span:nth-of-type(1):hover ~ b:nth-of-type(1),
#spl_button span:nth-of-type(2):hover ~ b:nth-of-type(2),
#spl_button span:nth-of-type(3):hover ~ b:nth-of-type(3),
#spl_button span:nth-of-type(4):hover ~ b:nth-of-type(4) {
  --clip: inset(0 0 0 0);
  border-radius: 10px;
}
#spl_button span:nth-of-type(1) {
  --clip: polygon(0 0, 100% 0, 50% 50%, 50% 50%);
}
#spl_button span:nth-of-type(2) {
  --clip: polygon(100% 0, 100% 100%, 50% 50%);
}
#spl_button span:nth-of-type(3) {
  --clip: polygon(0 100%, 100% 100%, 50% 50%);
}
#spl_button span:nth-of-type(4) {
  --clip: polygon(0 0, 0 100%, 50% 50%);
}
#spl_button b {
  -webkit-clip-path: var(--clip);
  background: var(--buttonColor);
  border: calc(var(--borderWidth) * 1px) solid var(--buttonColor);
  bottom: calc(var(--borderWidth) * -1px);
  font-weight: bold;
  clip-path: var(--clip);
  color: var(--bg, #fafafa);
  left: calc(var(--borderWidth) * -1px);
  padding: calc(var(--verticalPadding) * 1px)
    calc(var(--horizontalPadding) * 1px);
  position: absolute;
  right: calc(var(--borderWidth) * -1px);
  top: calc(var(--borderWidth) * -1px);
  transition: -webkit-clip-path 0.25s ease;
  transition: clip-path 0.25s ease;
  transition: clip-path 0.25s ease, -webkit-clip-path 0.25s ease;
  border-radius: 10px;
}
#spl_button b:nth-of-type(1) {
  --clip: inset(0 0 100% 0);
  border-radius: 10px;
}
#spl_button b:nth-of-type(2) {
  --clip: inset(0 0 0 100%);
  border-radius: 10px;
}
#spl_button b:nth-of-type(3) {
  --clip: inset(100% 0 0 0);
  border-radius: 10px;
}
#spl_button b:nth-of-type(4) {
  --clip: inset(0 100% 0 0);
  border-radius: 10px;
}
