

#users-head {
  font: 400 2vw/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

#un-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#list-el {
  font: 200 1.3vw/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}

#list-el:last-child {
  border: none;
}

#list-el a {
  text-decoration: none;
  color: #000;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
  display: block;
  width: 200px;
}

#list-el a:hover {
  font-size: 30px;
  background: #f6f6f6;
}
